.movie-poster-container {
  position: relative;
  left: 10em;
  padding: 3em;
}

.movie-poster {
  height: 45em;
  width: 30em;
  border-radius: 5px;
  object-fit: cover;
}

.movie-main-content {
  position: relative;
  top: 0;
  left: 12em;
}

a {
  text-decoration: none;
  color: inherit;
}

.movie-title {
  font-weight: 800;
  font-size: 3.5em;
}

.subtitles-container {
  display: flex;
  align-items: center;
  color: white;
  position: relative;
  bottom: 2em;
  font-weight: 600;
}

.vertical-divider {
  border-left: 2px solid #ed462f;
  margin: 0 0.5em;
  height: 2em;
}

.movie-overview {
  font-size: 2em;
  font-weight: 500;
}

.movie-overview-content {
  line-height: 2em;
  font-weight: 500;
  color: rgb(194, 194, 194);
}

.movie-runtime,
.movie-category,
.movie-genres,
.movie-release-date,
.movie-overview-content,
.movie-tagline,
.movie-cast,
.cast-details-title {
  font-size: 1.6em;
}

.movie-release-year {
  font-size: 1em;
  font-weight: 300;
}

.movie-tagline {
  font-style: italic;
  font-weight: 400;
  color: rgb(172, 172, 172);
}

.movie-overview-wrapper {
  width: 50%;
  margin: 1em 0 0 0;
}

.similar-movies {
  position: absolute;
  left: 0;
  width: inherit;
  height: 20em;
  margin-bottom: 8em;
}

.cast-details-wrapper {
  margin-top: 1em;
}

.movie-cast + .movie-cast::before {
  white-space: pre;
  content: ', ';
}

.movie-genres-list + .movie-genres-list::before {
  white-space: pre;
  content: ', ';
}
