.similar-movies-wrapper {
  display: flex;
  flex-wrap: nowrap;
  width: 80%;
  left: 13.2em;
  margin-bottom: 5em;
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

.similar-movies-header {
  font-size: 2em;
  display: inline-block;
  font-weight: 500;
  position: relative;
  left: 6.8em;
}

.similar-movies-poster-wrapper {
  list-style-type: none;
  margin-bottom: 2em;
}

.similar-movies-poster {
  object-fit: cover;
  border-radius: 4px;
  width: 15em;
  height: auto;
  margin-right: 5em;
  opacity: 0.9;
}

.similar-movies-poster:hover {
  cursor: pointer;
  transform: scale(1.1);
}
