.brand-logo {
  position: absolute;
  left: 13em;
  top: 3em;
  cursor: pointer;
  z-index: 30;
}

.nav-list {
  list-style-type: none;
  display: flex;
  position: absolute;
  left: 35em;
  top: 2.8em;
  z-index: 30;
}

.nav-list > * {
  cursor: pointer;
}

.MuiInput-underline:after {
  border-bottom: 2px solid grey !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid rgb(230, 230, 230) !important;
}

::placeholder {
  color: #fff !important;
}

.search {
  background-color: rgba(255, 255, 255, 0.15);
  margin: 0 auto;
  /* position: relative;
  left: 37em; */
}

.search:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

input {
  text-indent: 1em;
  caret-color: white !important;
  color: white !important;
}
