/* .Mui-focused {
  width: 15.5em !important;
} */

.brand-logo {
  position: relative;
  left: 11em;
  cursor: pointer;
}

.MuiInput-underline:after {
  border-bottom: 2px solid grey !important;
}

.MuiInput-underline:before {
  border-bottom: 1px solid rgb(230, 230, 230) !important;
}

::placeholder {
  color: #fff !important;
}

.search {
  background-color: rgba(255, 255, 255, 0.15);
  margin: 0 auto;
  /* position: relative;
  left: 37em; */
}

.search:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

input {
  text-indent: 1em;
  caret-color: white !important;
  color: white !important;
}
